body{
	background-color: lightgray;
}
#game{
	float: left;
	border-style: solid;
	border-width: 8px;
	width: 500px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.encruzilhada{
	background-color: black;
	width: 10px;
	height: 10px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.h{
	background-color: lightgray;
	width: 30px;
	height: 10px;
}

.h:HOVER{
	background-color: lightgray;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.v{
	background-color: lightgray;
	width: 10px;
	height: 30px;
}

.v:HOVER {
	background-color: lightgray;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.verde{
	background-color: green;
}

.amarelo{
	background-color: yellow;
}

.p{
	background-color: black;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

